# Uncomment to use CAS authentication
# :authentication_method: cas

# ldap configuration 
:ldap_host: ""
:ldap_port: 389
:ldap_base: "ou=people,dc=example,dc=com"
:ldap_method: :simple #either :simple or :anonymous. If you choose :anonymous then you can keep username/password empty ''
:ldap_username: 'cn=admin,dc=exampl,dc=com'
:ldap_password: 'password'
:ldap_filter_attr: 'objectclass' #any ldap entry attribute
:ldap_filter_value: 'person'#the value of the attribute to be filtered on


# SMTP settings for outgoing email
:smtp_delivery_method: :smtp

:smtp_settings:
  :address: localhost
  :port: 25
  # :domain: example.com
  # :user_name: username
  # :password: passwd
  # :authentication: :login
  # :enable_starttls_auto: true

# Sender address for Webistrano emails
:webistrano_sender_address: webistrano@example.com

# Sender and recipient for Webistrano exceptions
:exception_recipients: team@example.com
:exception_sender_address: webistrano@example.com

# Tasks listed by default on a stage's main page. Entered here as [display_name, task_name]
:default_deployment_shortcuts:
  - [ deploy, Deploy ]
  - ['deploy:rollback', Rollback]
